:root {
  --main: #C99666;
  --main-opaque: #c99666;
  --lighter: #f0bf91;
}

input[type=text] {
  width: 50%;

  border: 1px solid var(--lighter);
  border-radius: 8px;
  padding: 5px 10px
}

input[type=text]:focus {
  outline: none;
}

input[type=text]::placeholder {
  color: lightgray;
  font-style: italic;
}

input[type=submit] {
  border: none;
  border-radius: 10px;
  box-shadow: none;

  width: auto;
  margin-top: 10px;
  padding: 8px 13px;

  background-color: var(--lighter);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: var(--main);
  color: white;
}

.App {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./images/background-gold.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .App {
    height: 180vh;
  }
}

.TitleBar {
  height: 5vh;
  min-height: 25px;
  background-color: var(--main-opaque);
}

.TitleBar > p {
  margin: 0;
  color: white;
  font-family: "Arial Black";
  font-size: large;
  font-weight: bolder;
}

.TitleBar > button {
  font-size: small;
  color: white;

  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight:lighter
}


.SearchSection {
  height: 15vh;
  min-height: 80px;
  padding-top: 20px;
}

.SearchSection input[type=text] {
  text-align: center;
}

.InteractionSection {
  height: 80vh;
}

.InteractionSection > * {
  height: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 10px;

  box-sizing: border-box;
  border: 20px solid transparent;
  background-clip: padding-box;
}

.Tracklist {
  height: 90%;
  overflow-y: scroll;
  padding: 0px 5px;
}

.Tracklist::-webkit-scrollbar {
  width: 10px;
}

.Tracklist::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
}

.Tracklist::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #f0bf91;
}

.Playlist .Tracklist {
  margin-top: 10px;
}

.Track {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.Track .track-name {
  margin: 0;
  font-weight: 200;
}

.Track .track-details {
  font-size: small;
  margin-bottom: 0;
}

.Track i {
  cursor: pointer;
  font-size: xx-large;
  color: darkgray;
}

.Track i:hover {
  cursor: pointer;
  font-size: xx-large;
  color: black;
}

.error-div {
  text-align: center;
  font-style: italic;
}