.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TitleBar {
  height: 5vh;
  min-height: 25px;
}

.SearchSection {
  height: 10vh;
  min-height: 80px;
}

.SearchSection input {
  width: 50%;
}

.SearchSection .app-button {
  width: auto;
}

.InteractionSection {
  height: 85vh;
}

.InteractionSection .SearchResults {
  border: solid 1px black;
  height: 100%;
  background-color: grey;
}

.InteractionSection .Playlist {
  border: solid 1px black;
  height: 100%;
  background-color: lightgrey;
}

.Tracklist {
  background-color: lightblue;
  height: 90%;
  overflow-y: scroll;
}

.Tracklist::-webkit-scrollbar {
  width: 10px;
}
 
.Tracklist::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(165, 165, 165, 0);
}

.Tracklist::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(255,255,255,0.8);
}

.Track i {
  cursor: pointer;
  font-size: xx-large;
}